.btn {
  border: none;
  text-align: center;
  padding: 8px 14px;
  font-size: 14px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  // box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--secondary-color) 51%,
    var(--primary-color) 100%
  );
  cursor: pointer;
}

.btn:hover {
  background-position: right center;
}

@media (max-width: 968px) {
  .btn {
    padding: 6px 12px;
    font-size: 12px;
  }
}
